<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="/styles/global.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <title> Results</title>
</head>

<body>
  <%- include('__navbar'); -%>
  <h3><%= display_details.displayName %></h3>
  
  <div class="container">
    <pre><%= JSON.stringify(display_details.result ,null,'\t')  %></pre>
  </div>
</body>

</html>